body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
img {
  width: 30%;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 10px;
}
nav {
  visibility: hidden;
  position: absolute;
}

h5 {
  background-color: #CE8AE2;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.aksi {
  box-sizing: border-box;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
@media (max-width: 600px) {
  nav {
    display: block;
    visibility: visible;
  }
  img {
    margin-bottom: 30px;
  }
  .aksi {
    gap: 2px;
    box-sizing: border-box;
    height: 100px;
  }
}
